<MudDialog Class="apptrack-dialog">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.AccountCircle" Class="mr-2" />
            My Profile
        </MudText>
    </TitleContent>
    <DialogContent>
        <FreelancerProfileForm @ref="_form" Model="_model" OnCvBusyChanged="@(busy => _isBusy = busy)" Disabled="_isBusy" />
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Text" OnClick="Skip" Disabled="_isBusy">Skip</MudButton>
        <MudSpacer />
        <MudButton Variant="Variant.Filled"
                   Color="Color.Primary"
                   OnClick="Save"
                   Disabled="_isBusy">
            @if (_isBusy)
            {
                <MudProgressCircular Size="Size.Small" Indeterminate="true" Class="mr-2" />
                <span>Saving…</span>
            }
            else
            {
                <span>Save</span>
            }
        </MudButton>
    </DialogActions>
</MudDialog>
